:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --gs-blue: #006688;
  --gs-blue-hover: #004688;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: #006688;
  box-shadow: inset 0 0 200px black;
}

a {
  text-decoration: none;
}


.btn {
  border-radius: .2em;
  box-shadow: 0 0 5px black;
  padding: .8em 1.5em;
  text-transform: capitalize;
  border: none;
  margin: 0 .2em;
}
.btn-thin {
  padding: .2em .8em;
}
.bg-blue {
  color: white;
  background-color: var(--gs-blue);
  box-shadow: 0 0 5px black, inset 0 0 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.bg-blue:hover {
  background-color: var(--gs-blue-hover);
  transition: background-color 0.3s ease;
}


.alert {
  background-color: var(--primary);
  padding: 1em;
  border-radius: .2em;
}


.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}





input[type="text"],
input[type="password"] {
  font-size: 1.2em;
  width: 100%;
  height: 2em;
  line-height: 2em;
  border: none;
  padding: .5em;
  border: none;
  box-shadow: none;
  outline: none;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="password"]:active {
  border: none;
  box-shadow: none;
  outline: none;
}

fieldset {
  border: 2px solid lightgray;
  border-radius: .2em;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  -ms-border-radius: .2em;
  -o-border-radius: .2em;
  padding: 0 .2em .2em .2em;
  transition: border 0.3s ease;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  -ms-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  margin-top: .5em;
}
fieldset.focus {
  border: 2px solid #0060a0;
  transition: border 0.3s ease;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  -ms-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
}

legend {
  display: inline-block;
  padding: 0 .5em;
  margin: 0 .5em 0 .5em;
  font-weight: initial;
  font-size: initial;
  width: initial;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

fieldset.focus legend {
  color: #0060a0;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  text-shadow: 0 0 1px darkgray;
}




.marginAuto {
  margin: auto;
}



.buttonArea {
  margin-top: 1em;
}
.buttonArea > * {
  margin-right: 2em;
}
