<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <meta charset="utf8">

</head>
<body>
  <h1>{{title}}</h1>
  Redirecting...
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134721040-1"></script>
    <script>
    setTimeout(()=>{location.href='{{url}}';}, 3000);
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-134721040-1');
  </script>
</body>