legend > label {
  cursor: pointer;
}

legend > label > span {
  font-size: 0.8em;
  color: gray;
}


.buttonArea {
  margin-top: 1em;
}


ul {
  padding-left: 20px;
}


small {
  margin-left: .5em;
  color: gray;
}

.red {
  color: red;
}
