RewriteEngine On

########### YOU WON'T NEED THESE ############
##### THESE ARE FOR MY ENVIRONMENT ONLY #####
RewriteCond %{HTTP_HOST} ^(.+).gtspn.com$ [NC] 
RewriteRule (.*) http://%1.gentlespoon.com/$1 [R=301,L] 
#############################################
#############################################

# Rewrite general files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?path=$1 [L,QSA]
