.msgContainer {
  position: fixed;
  top: 4em;
  right: 1em;
  text-align: right;
}

.msgContainer .item {
  margin-bottom: 1em;
  box-shadow: 0 0 10px black;
  max-width: 300px;
  display: inline-block;
  position: relative;
  padding-right: 2em;
  padding-top: 1.5em;
}

.msgContainer .clickable {
  cursor: pointer;
}
.msgContainer .clickable:hover {
  text-shadow: 0 0 1px black;
}


.msgContainer .item .fas.fa-times {
  position: absolute;
  top: .5em;
  right: .5em;
  margin-left: 1em;
}

.msgBody {
  text-overflow: ellipsis;
}
