table {
  width: 100%;
  table-layout: fixed;
}

th {
  text-align: left;
}

td, th {
  padding: .5em;
}


td.short_url {
  max-width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.long_url {
  max-width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.title {
  max-width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}