<div class="marginAuto col col-sm-12 col-md-10 col-lg-8">
  <form (submit)="createNewUrlPair()" ngNativeValidate>

    <h2>{{ 'makeYourLinksShorter' | translate }}</h2>
    <fieldset [class.focus]="focus['long_url']">
      <legend><strong>{{ 'longUrl' | translate }} *</strong></legend>
      <input type="text" name="long_url" [(ngModel)]="long_url" (focus)="setFocus('long_url')" (blur)="setBlur('long_url')" placeholder="https://" class="long_url_input" required>
      <small [class.red]="!long_url.startsWith('http')">Original long URL start with http:// or https://</small>
    </fieldset>

    <fieldset [class.focus]="focus['title']">
      <legend>
        <!-- <input type="checkbox" [(ngModel)]="show['title']"> -->
        <label (click)="toggle('title')">Show a custom title to override content extraction.</label>
      </legend>
      <input type="text" name="title" [(ngModel)]="title" (focus)="setFocus('title')" (blur)="setBlur('title')" *ngIf="show['title']">
      <small *ngIf="show['title']">Redirection title (optional)</small>
    </fieldset>

    <fieldset [class.focus]="focus['short_url']">
      <legend>
        <!-- <input type="checkbox" [checked]="show['short_url']" (click)="toggle('short_url')"> -->
        <label (click)="toggle('short_url')">Use your preferred ShortURL. <span *ngIf="!sessionService.token">(Requires sign in)</span></label>
      </legend>
      <input type="text" name="short_url" [(ngModel)]="short_url" (focus)="setFocus('short_url')" (blur)="setBlur('short_url')" *ngIf="show['short_url']">
      <small *ngIf="show['short_url']">Preferred ShortURL (optional)</small>
    </fieldset>

    <fieldset [class.focus]="focus['expire']">
      <legend>
        <!-- <input type="checkbox" [(ngModel)]="show['expire']" (click)="toggle('expire')"> -->
        <label (click)="toggle('expire')">Set an expiration date. <span *ngIf="!sessionService.token">(Requires sign in)</span></label>
      </legend>
      <input type="date" name="expire" [(ngModel)]="expire" (focus)="setFocus('expire')" (blur)="setBlur('expire')" *ngIf="show['expire']">
      <small *ngIf="show['expire']">Expiration date (optional)</small>
    </fieldset>

    <div class="buttonArea">
      <button class="btn bg-blue">Shorten URL</button>
    </div>

  </form>

  <div>
    <ul class="hint">
      <li *ngIf="!sessionService.token">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            If you <a class="clickable" (click)="sessionService.signIn()">sign in</a>,
            <ul>
                <li>You can choose your preferred Short URL.</li>
                <li>Your control when the link expires.</li>
                <li>Stats will be available in your personal <a [routerLink]="['/dashboard']">Dashboard</a>.</li>
            </ul>
          </div>
          <div class="col-sm-12 col-lg-6">
            As a guest,
            <ul>
              <li>Your will get randomly assigned Short URL.</li>
              <li>Your links will expire 1 year after creation.</li>
              <li>Everyone can see stats in guests' shared <a [routerLink]="['/dashboard']">Dashboard</a></li>
            </ul>
          </div>
        </div>

      </li>
      <li *ngIf="sessionService.token">Welcome, {{ sessionService.username ? sessionService.username : sessionService.email }},
        <ul>
            <li>You now have the privilege to choose your preferred Short URL.</li>
            <li>Your links will never expire unless you specify a date.</li>
            <li>Statistics is available in your <a [routerLink]="['/dashboard']">Dashboard</a>.</li>
        </ul>
      </li>

      <li style="margin-top: 1em;">Source code for this site is available on <a href="https://github.com/gentlespoon/ShortURL" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
    </ul>
  </div>

</div>


<script>
  grecaptcha.ready(function() {
    grecaptcha.execute('6LcHM5QUAAAAACHSgtF-XvOoTh1K6T0osdigTiZo', {action: 'createRandom'}).then(function(token) {
    });
  });
</script>
