<div class="footer">
  <div class="container">
    <a href="https://gentlespoon.com" class="item">GentleSpoon</a>
    <a [routerLink]="['/help']" class="item">Help</a>
    <a [routerLink]="['/help/reportSpam']" class="item">Report Spam</a>
    <a [routerLink]="['/help/privacyPolicy']" class="item">Privacy Policy</a>
    <a [routerLink]="['/help/usagePolicy']" class="item">Acceptable Usage Policy</a>
    <a [routerLink]="['/help/termsOfService']" class="item">Terms of Service</a>
  </div>
</div>
