.hint {
  font-size: .88em;
  color: darkgray;
}
.hint li:hover {
  color: black;
}

a {
  color: blue;
  font-weight: bold;
}

ul {
  padding: .5em;
}

.urlPairList {
  padding: 0 0 .5em 0;
  list-style-type: none;
  border-bottom: 1px solid lightgray;
  margin-bottom: .5em;
}