<div class="">
  <h3>Make your links shorter!</h3>
  <fieldset [class.focus]="focus.longURL">
    <legend>Original URL (required)</legend>
    <input type="text" [(ngModel)]="longURL" (focus)="setFocus('longURL')" (blur)="setBlur('longURL')" placeholder="https://">
  </fieldset>

  <fieldset [class.focus]="focus.title">
    <legend><input type="checkbox" [(ngModel)]="showTitle"><label (click)="toggleTitle()">I want to show custom title on redirection page for better content extraction result.</label></legend>
    <input type="text" [(ngModel)]="title" (focus)="setFocus('title')" (blur)="setBlur('title')" *ngIf="showTitle" placeholder="Redirection title (optional)">
  </fieldset>

  <div>
    <ul class="hint">
      <li>You can choose your own Short URL if you <a href="/user/signin">sign in!</a></li>
      <li>Original Long URL must be a Complete URL with HTTP/HTTPS protocol.</li>
      <li>All Gs-ShortURLs and click analytics are public and can be accessed by anyone.</li>
    </ul>
  </div>

  <div>
    <button class="btn bg-blue" (click)="shorten()">Shorten URL</button>
  </div>

  <ul>
    <li class="urlPairList" *ngFor="let urlPair of shorturlService.urlPairs.reverse()">
      <div class="pairTitle">{{urlPair.title ? urlPair.title : 'Untitled'}}</div>
      <div class="pairShort">
        <button class="btn bg-blue btn-thin" (click)="copy(shorturlService.siteURL + urlPair.shortURL)">Copy</button>
        <a href="{{shorturlService.siteURL + urlPair.shortURL}}" target="_blank">{{shorturlService.siteURL + urlPair.shortURL}}</a>
      </div>
      <div class="pairLong">
        <button class="btn bg-blue btn-thin" (click)="copy(shorturlService.siteURL + urlPair.shortURL)">Copy</button>
        <a href="{{urlPair.longURL}}" target="_blank">{{urlPair.longURL}}</a>
      </div>
    </li>
  </ul>

</div>