
<div class="header">
  <div class="container">
    <a class="header-item brand" [routerLink]="['/']">Gs-ShortURL</a>

    <!-- Float right has reversed order -->
    <!-- <a class="header-item right" href="/user/signup" *ngIf="!sessionService.token.length">Sign Up</a> -->
    <a class="header-item right" *ngIf="sessionService.token.length" (click)="signout()">Sign Out</a>
    <a class="header-item right" [routerLink]="['/user/signin']" *ngIf="!sessionService.token.length">Sign In</a>
    <a class="header-item right" [routerLink]="['/dashboard']">{{sessionService.username}}'s Dashboard</a>
  </div>
</div>
