<div class="footer">
  <div class="container">
    <a href="https://gentlespoon.com" class="item">GentleSpoon</a>
    <a [routerLink]="['/help']" class="item">Help</a>
    <a [routerLink]="['/reportSpam']" class="item">Report Spam</a>
    <a href="https://www.gentlespoon.com/privacy" class="item">Privacy Policy</a>
    <a href="https://www.gentlespoon.com/usage" class="item">Acceptable Usage Policy</a>
    <a href="https://www.gentlespoon.com/term" class="item">Terms of Service</a>
  </div>
</div>
