table {
  width: 100%;
  table-layout: fixed;
}

th {
  text-align: left;
}

tr:nth-child(2n-1) {
  background-color: #00000015;
}

td, th {
  padding: .5em;
}


td.short_url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.long_url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
