<h2>Abuse program policies and enforcement for GtSpn.com</h2>
<pre>
  GtSpn.com allows you to track, in real-time, the clicks and referrers on any shortened URL. Please remember that GtSpn.com directs you to content that is already in existence on the internet. This is not content hosted by GtSpn. There is some content to which we do not permit our url shortener to redirect users. Be sure to check back from time to time, as these policies may change. Please also refer to Google's Terms of Service for more information.
</pre>

<h3>Program Policies</h3>
<h4>Spam, malware, and phishing</h4>
<pre>
  Please do not direct users to sites containing spam and malware. Spammy sites include those that are low quality, made for advertisements or consist solely of low value content. Malware sites include sites that transmits content which may harm or interfere with the operation of the networks, servers, or other infrastructure of Google or others.
</pre>

<h4>Do not use GtSpn.com for:</h4>
<ul style="font-family: monospace;">
  <li>URLs that are executable/package files (like .apk, .dmg, .exe, .zip, etc.), or those that auto download such files;</li>
  <li>URLs that contain only IP addresses;</li>
  <li>Shortening URL re-directors (either off GtSpn.com or via other URL shortening services).</li>
</ul>
<pre>
  Do not direct users to sites engaged in phishing. Phishing sites solicit or collect sensitive data, including but not limited to passwords, financial details, and social security numbers.
  If you believe that a URL is violating SPAM, malware, or phishing policies, report abuse.
</pre>

<h4>Child Exploitation</h4>
<pre>
  Do not direct users to content that exploits or abuses children. This includes all child sexual abuse imagery (even cartoon images) and all content that presents children in a sexual manner. You cannot direct users to sites that create, possess, or distribute child sexual abuse imagery.
  We will remove such content and take appropriate action, which may include disabling accounts and reporting to appropriate authorities, including law enforcement.
  If you believe that a URL is violating child exploitation policies, report abuse.
</pre>

<h4>Personal and confidential information</h4>
<pre>
  Do not direct users to sites which publish people's private and confidential information, such as credit card numbers, Social Security numbers, drivers and other license numbers, or any other information that is not publicly accessible. Keep in mind that in most cases, information that is already available elsewhere on the Internet or in public records is not considered to be private or confidential under our policies.
  If you believe that a URL is violating personal and confidential information policy, report abuse.
</pre>

<h4>Violent Content</h4>
<pre>
  Do not direct users to sites that include extremely graphic or violent material for the purpose of disgusting viewers or glorifying those engaged in violence.
  If you believe that a URL is violating violent content policy, report abuse.
</pre>

<h4>Terrorist Content</h4>
<pre>
  We do not permit terrorist organizations to use URL shortener for any purpose, including recruitment. Do not direct users to sites related to terrorism, such as content that promotes terrorist acts, incites violence, or celebrates terrorist attacks, unless the site is intended to be for an educational, documentary, scientific, or artistic purpose. In those cases, be mindful to provide enough information so viewers understand the context.
  If you believe that a URL is violating terrorist content policy, report abuse.
</pre>

<h4>Copyright</h4>
<pre>
  To report copyright infringement, please use this tool, which will guide you through the process of reporting content that you believe warrants removal from GtSpn's services based on applicable laws.
</pre>