<div class="footer">
  <div class="container">
    <app-translate></app-translate>
    <a href="https://www.angdasoft.com" class="item">Angda Song</a>
    <a [routerLink]="['/help']" class="item">Help</a>
    <a [routerLink]="['/reportSpam']" class="item">Report Spam</a>
    <a
      href="https://policies.angdasoft.com/privacy"
      class="item"
      target="_blank"
    >
      Privacy Policy
    </a>
    <a href="https://policies.angdasoft.com/usage" class="item" target="_blank">
      Acceptable Usage Policy
    </a>
    <a href="https://policies.angdasoft.com/terms" class="item" target="_blank">
      Terms of Use
    </a>
  </div>
</div>
